TDINProject2/WarehouseApp/Service References/BookStoreService/ServiceDataTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceDataTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceDataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfStock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stock" nillable="true" type="tns:Stock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStock" nillable="true" type="tns:ArrayOfStock" />
  <xs:complexType name="Stock">
    <xs:sequence>
      <xs:element minOccurs="0" name="Book" nillable="true" type="tns:Book" />
      <xs:element minOccurs="0" name="Copies" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stock" nillable="true" type="tns:Stock" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookID" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Book" nillable="true" type="tns:Book" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ExpDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderID" type="ser:guid" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="tns:OrderState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:simpleType name="OrderState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WaitingExpedition" />
      <xs:enumeration value="Dispatched" />
      <xs:enumeration value="FutureDispatch" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderState" nillable="true" type="tns:OrderState" />
</xs:schema>